.Chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Chat__sidebar {
  position: absolute;
  right: 0%;
  width: 20%;
  height: 90%;
  background: white;
}

.Chat__header {
  width: 100%;
  height: 10%;
  background: red;
}

.Chat__main {
  width: 100%;
  height: 83%;
  color: white;
  background: rgb(26, 30, 50);
}

.Chat__inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
  background: blue;
}
