.Home {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.Home__header {
  width: 100%;
  height: 10%;
  background: rgb(33, 1, 59);
}

.Home__main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
